.text-field,
.password-field {
  -fx-border-color: rgba(38, 38, 38, 0.3);

}
.text-field:focused,
.password-field:focused {
  -fx-border-color:  rgba(71, 71, 255, 1);
}

.icon-fill-focused {
  -fx-fill: rgba(71, 71, 255, 1);
}

.icon-stroke-focused {
  -fx-stroke: rgba(71, 71, 255, 1);
}

